body {
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
    counter-reset: heading;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

ul {
    line-height: 1.25rem;
    margin: 0 -1rem;
}

h3:before {
    content: counter(heading)". ";
    counter-increment: heading;
}

div h3:before {
    content: "";
}

header {
    text-align: center;
    color: white;
    background: #d21d10;
}

header h1 {
    font-size: 1.75rem;
    margin: 0;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

header img {
    width: 150px;
    margin: 1rem;
}

main {
    padding: 50px;
    margin: 50px auto;
    background: #ffffff;
    color: dimgrey;
    width: 700px;
}

main .steps {
    margin-bottom: 2rem;
}

main h2 {
    font-size: 1.25rem;
}

.button {
    background-color: #d21d10;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.button:hover {
    background:#91250f;
    cursor: pointer;
}

#step-four {
    padding: 10px;
    border: 0;
    background: #efefef;
    display: none;
}

#output-field {
    font-family: Inconsolata, sans-serif;
    background: white;
    padding: 10px;
    margin: 1rem 0 0 0;
    white-space: pre-wrap;
}

.kader {
    font-family: Segoe UI, sans-serif;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 10px;
}

#select-color {
    margin: 0.5rem;
}


#preview {
    background-color: #ece0ff;
    color: black;
    font-family: Segoe UI, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 50px 0 10px 0;
    max-width: 657px;
    padding: 10px;
}

footer {
    text-align: center;
    font-size: small;
    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    main {
        width: 80%;
    }
}

@media (max-width: 700px) {
    main {
        width: 95%;
    }
}